/.buildpath
/.project
/.settings
/.svn
/.transifexrc
/node_modules/
/vendor/
*.js.map
*.css.map
/skins/frontend/*/assets/css/less-vars*
/skins/frontend/*/src/less/less-vars.css

/libs/php/vendor/tecnickcom/tcpdf/examples
/libs/php/vendor/tecnickcom/tcpdf/tools

/libs/php/vendor/spipu/html2pdf/doc
/libs/php/vendor/spipu/html2pdf/examples
/libs/php/vendor/spipu/html2pdf/test